/*	Animation for slot machine documentation:
	Each "reel" of the slot machine will be animated
	upon intialization of the slotmachine JS object by the user.
	The resting image of sprite-doge will spin faster and faster for a duration of 5 seconds,
	staggered from the first reel on the left to the last reel, while fading away on a slowed delay
	as the result of the random selection from the slotmachine object's reel component fades into view 	*/

body { background-image: url("assets/background.gif") }

.banner {
	font: italic bold 1.4vw "Comic Sans MS";
	color: #FF0000;
	border: 3px dashed green;
	text-shadow: 5px 5px salmon;
	text-align: center;
	max-width: 1280px;
	background-image: url("assets/cropped-doge.png");
	background-size:cover;
	/*background-repeat: repeat-y;*/
	/*animation: animateBannerBackground 2s infinite alternate;*/
	animation-duration: 25s;
}

#mar1 { font: 0.9vw "Comic Sans MS"; color: #00ff00 ; }
#mar2 { font: 0.9vw "Comic Sans MS"; color: cyan; }

.topMenu {
	text-align: center;
	font: italic bold 14pt "Comic Sans MS";
	text-shadow: 2px 2px yellow;
	color: orange;
	margin-top: 20px;
}

.slots { 
	/*max-width: 640px;*/
}

.col-content {
	border: solid 3px orange;
	background-color: lightblue;
	max-width: 180px;
	height: 180px;
	margin: 30px;
}

.firstReelResults {/*waiting for instructions from jQuery*/}
.secondReelResults {/*waiting for instructions from jQuery*/}
.thirdReelResults {/*waiting for instructions from jQuery*/}

#reelOne {
	height: 150px;
	width: 150px;		
	background-color: powderblue;	}

#slot1Spin, #slot2Spin, #slot3Spin {
	animation: rotateStart 2s infinite linear; 
	 }

.userScore {
	font: 26pt "Comic Sans MS";
	text-align: center;
	color: cyan;
	background-image: url("assets/rpgUIbox.png");
	background-size: 100% 100%;
	max-width: 500px;
	height: 150px;

}

#playersTokens{
	font: 33pt "Comic Sans MS";
	color: cyan;
}

.consoleControls {
	font: 26pt "Comic Sans MS";
	text-align: center;
	color: white;
	background-image: url("assets/rpgUIbox.png");
	background-size: 100% 100%;
	max-width: 700px;
	height: 300px;
}

.btn-flat {
	font: 18pt "Comic Sans MS";
	color: white;
	text-align: center;
}

@keyframes blinko {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}	
}

@keyframes animateBannerBackground {
	0% {transform: translateY(0);}
	100%{transform: translateY(-40px);}
}


@keyframes rotateStart {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }	
}